{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="py-5 overflow-hidden bg-primary" id="home">
  <div class="container">
    <div class="row flex-center">
      <!-- Hero Image -->
      <div class="col-md-5 col-lg-6 order-0 order-md-1 mt-8 mt-md-0">
        <a class="img-landing-banner" href="#!">
          <img class="img-fluid" src="{% static 'img/gallery/hero-header.png' %}" alt="hero-header" />
        </a>
      </div>

      <!-- Hero Text -->
      <div class="col-md-7 col-lg-6 py-8 text-md-start text-center">
        <h1 class="display-1 fs-md-5 fs-lg-6 fs-xl-8 text-light">FoodRush</h1>
        <h2 class="text-800 mb-5 fs-4">
          Fast, fresh, and delicious meals<br class="d-none d-xxl-block" />
          delivered right to you
        </h2>
      </div>
    </div>
  </div>
</section>

<div class="container mt-5">
    <h2>Your Cart</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Food</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
            <tr>
                <td>{{ item.fooditem.food_name }}</td>
                <td>₹ {{ item.fooditem.price }}</td>
                <td>
                    <a href="{% url 'order:decrement' item.id %}"
                       class="btn btn-danger btn-sm">
                        -
                    </a>
                    {{ item.quantity }}
                    <a href="{% url 'order:increment' item.id %}"
                       class="btn btn-success btn-sm">
                        +
                    </a>
                </td>
                <td>
                    ₹ {{ item.totalamount }}
                </td>
                <td>
                    <a href="{% url 'order:removecart' item.id %}"
                       class="btn btn-dark btn-sm">
                        Remove
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>Total Amount : ₹ {{ total }}</h3>
    <a href="{% url 'order:checkout' %}"
       class="btn btn-primary">
        Proceed To Checkout
    </a>
</div>
{% endblock %}