{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="py-5 overflow-hidden bg-primary" id="home">
  <div class="container">
    <div class="row flex-center">
      <!-- Hero Image -->
      <div class="col-md-5 col-lg-6 order-0 order-md-1 mt-8 mt-md-0">
        <a class="img-landing-banner" href="#!">
          <img class="img-fluid" src="{% static 'img/gallery/hero-header.png' %}" alt="hero-header" />
        </a>
      </div>

      <!-- Hero Text -->
      <div class="col-md-7 col-lg-6 py-8 text-md-start text-center">
        <h1 class="display-1 fs-md-5 fs-lg-6 fs-xl-8 text-light">FoodRush</h1>
        <h2 class="text-800 mb-5 fs-4">
          Fast, fresh, and delicious meals<br class="d-none d-xxl-block" />
          delivered right to you
        </h2>
      </div>
    </div>
  </div>
</section>

<div class="container mt-5">
    <h2 class="mb-4">Checkout</h2>

    <div class="card shadow">
        <div class="card-body">

            <!-- Order Summary -->
            <h4>Order Summary</h4>
            <hr>
            {% for item in cart %}
            <div class="d-flex justify-content-between mb-2">
                <div>
                    {{ item.fooditem.price }} × {{ item.quantity }}
                </div>
                <div>
                    ₹ {{ item.totalamount }}
                </div>
            </div>
            {% endfor %}
            <hr>

            <!-- Total -->
            <h5>Total Amount : ₹ {{ total }}</h5>

            <!-- Checkout Form -->
            <form method="POST" action="{% url 'order:placeorder' %}">
                {% csrf_token %}
                <div class="mt-3">
                    <label class="form-label">Payment Method</label>
                    <select name="payment_method" class="form-control">
                        <option value="COD">Cash On Delivery</option>
                        <option value="ONLINE">Online Payment</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success mt-3">
                    Proceed To Payment
                </button>
            </form>


        </div>
    </div>
</div>
{% endblock %}
