{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="py-5 overflow-hidden bg-primary" id="home">
  <div class="container">
    <div class="row flex-center">
      <!-- Hero Image -->
      <div class="col-md-5 col-lg-6 order-0 order-md-1 mt-8 mt-md-0">
        <a class="img-landing-banner" href="#!">
          <img class="img-fluid" src="{% static 'img/gallery/hero-header.png' %}" alt="hero-header" />
        </a>
      </div>

      <!-- Hero Text -->
      <div class="col-md-7 col-lg-6 py-8 text-md-start text-center">
        <h1 class="display-1 fs-md-5 fs-lg-6 fs-xl-8 text-light">FoodRush</h1>
        <h2 class="text-800 mb-5 fs-4">
          Fast, fresh, and delicious meals<br class="d-none d-xxl-block" />
          delivered right to you
        </h2>
      </div>
    </div>
  </div>
</section>

<div class="container mt-5">
    <h2>My Orders</h2>

    {% for order in orders %}
        <div class="card mb-3 p-3">
            <h5>Order ID: {{ order.id }}</h5>
            <p>Status: {{ order.status }}</p>
            <p>Total Amount: ₹ {{ order.amount }}</p>
            <p>Date: {{ order.ordered_at }}</p>

            <h6>Items:</h6>
            <ul>
                {% for item in order.items.all %}
                    <li>
                        {{ item.fooditem.food_name }} — ₹ {{ item.fooditem.price }} × {{ item.quantity }}
<!--                    -->
                        <br>
                        <small>Hotel: {{ item.fooditem.hotel.hotel_name }}</small>
                        <br>
                        <a href="{% url 'users:reviews' item.fooditem.hotel.id %}"
                           class="btn btn-sm btn-primary mt-2">
                           Add Review
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% empty %}
        <p>You have no orders yet.</p>
    {% endfor %}
</div>
{% endblock %}

